<!-- <div class="update_profile">
  <img [src]="currentUser?.profilePicture" alt="profile picture" class="image">
  <div class="upload">
    <input (change)="updateImage($event)" accept="image/*" type="file"><br>
    <button (click)="uploadProfilePicture()" *ngIf="isFileValid" color="warn" mat-raised-button>
      Upload
    </button>
  </div></div> -->
<div >
 <img [src]="'data:image/jpeg;base64,'+user.image" ><br>
 username:{{user.username}} <br>
 EmailId:{{user.email}}<br>
 Gender:{{user.gender}}<br>
 PhoneNumber:{{user.phoneNumber}}
</div>